body{
    width: 1300px;
    margin: auto;
  }
  header{
    width: 1225px;
    position: relative;
    background-color: #504d4d;
    height: 120px;
    margin: auto;
  }
  header img{
    height: 70px;
      width: 200px;
      position: absolute;
      margin: 25px;
  }
  
  
  header ul{
    justify-content: space-between;
    flex-direction: row;
    background-color: #504d4d;
    display: flex;
    padding: 25px 25px 25px 25px;
    width: 909px;
    height: 120px;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    margin: 25px 0 0 260px;
  
  }
  header ul li{
    justify-content: space-between;
    height: 70px;
    width: 200px;
    background-color: #686f6f;
    box-sizing: border-box;
    text-align: center;
  }
  span img{
    margin: 23.5px 82.5px 82.5px 166.5px;
  }
  main nav{
    margin: -40px 146px 10px 145px;
    justify-content: space-around;
    display: flex;
  }
   ol{
    margin: 12px 30px 0 144px;
    display: flex;
    justify-content: space-around;
   }
 div{
      margin: 30px 82.5px 30px 0;
      background-color: #ddd;
      display: block;
      height: 400px;
      overflow-y: scroll;
      text-align: center;
      width: 480px;
    }
    section {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    p{
      font-family: monospace;
      text-align: center;
      font-size: 20px;
    }
    button{
      font-size: 18px; 
      border: 1px solid rosybrown;
      border-radius: 4px;
      color: #ccc;
      border: 2px solid #a9616e;
      background: none;
      width: 240px;
      height: 80px;
      transition: .6s;
      overflow: hidden;
  
  }
  button:focus{
      outline: none;
  }
  
  button::before{
      content: none;
      display: block;
      position: absolute;
      background: rgb(139, 41, 41);
      width: 60px;
      height: 100%;
      left: 0;
      top: 0; 
      opacity: .5s;
      filter: blur(30px);
      transform: translateX(-130px) skewX(-15);
  }
  
  button:after{
      content: '';
      display: block;
      position: absolute;
      background: rgb(165, 116, 116);
      width: 80px;
      height: 100%;
      left: 30px;
      top: 0; 
      opacity: 0;
      filter: blur(30px);
      transform: translateX(-100px) skewX(-15deg);
  }
  
  button:hover{
      background: rgb(168, 39, 39);
      cursor: pointer;
  }
  
  footer{
    width: 1225px;
    position: relative;
    background-color: #504d4d;
    height: 120px;
    margin: auto;
  }