body{
    width: 1300px;
    margin: auto;
  }
  header{
    width: 1100px;
    position: relative;
    background-color: #463f3f;
    height: 90px;
    margin: auto;
  }
  header img{
    height: 70px;
    width: 200px;
    position: absolute;
    margin: 10px 51px;
  }
  
  
  header ul{
    justify-content: space-between;
    flex-direction: row;
    background-color:#463f3f;
    display: flex;
    padding: 25px 25px 25px 25px;
   
    height: 90px;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
    margin: 25px 0 0 260px;
  
  }
  header ul li{
       top: 50%;
       justify-content: space-between;
       width: 200px;
       background-color: #463f3f;
       box-sizing: border-box;
       text-align: center;
       color: #93939e;
  }
  span img{
    margin: 30px 81.5px 30px 150.5px;
  }
  main nav{
    margin: 0px 155px 10px 123px;
    justify-content: space-evenly;
    display: flex;
  }
   ol{
    margin: 12px 30px 0 144px;
    display: flex;
    justify-content: space-around;
   }

   ol img{
    margin: 20px 30px 30px 10px;
   }
 div{
  margin: 20px 144px 30px 0;
  background-color: #ddd;
  display: block;
  height: 300px;
  overflow-y: scroll;
  text-align: center;
  width: 445px;
    }
    section {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    p{
      font-family: monospace;
      text-align: center;
      font-size: 20px;
    }
    button{
      font-size: 18px; 
      border: 1px solid rosybrown;
      border-radius: 4px;
      color: #ccc;
      border: 2px solid #a9616e;
      background: rgb(139, 41, 41);;
      width: 240px;
      height: 80px;
      transition: .6s;
      overflow: hidden;
  
  }
  button:focus{
      outline: none;
  }
  
  button::before{
      content: none;
      display: block;
      position: absolute;
      background: rgb(139, 41, 41);
      width: 60px;
      height: 100%;
      left: 0;
      top: 0; 
      opacity: .5s;
      filter: blur(30px);
      transform: translateX(-130px) skewX(-15);
  }
  
  button:after{
      content: '';
      display: block;
      background: rgb(211, 208, 208);
      width: 80px;
      height: 100%;
      left: 30px;
      top: 0; 
      opacity: 0;
      filter: blur(30px);
      transform: translateX(-100px) skewX(-15deg);
  }
  
  button:hover{
      background: rgb(168, 39, 39);
      cursor: pointer;
  }
  
  footer{
    width: 1225px;
    position: relative;
    background-color: #463f3f;
    height: 120px;
    margin: auto;
  }